<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Boot" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" singleton="false">
    <module name="Employees" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="ru.sbt.employees.SpringDataJPAApplication" />
    <option name="DEBUG_MODE" value="true" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>